<suite name="Flipkart Suite">

    <test name="Automation Tests">

        <parameter name="day" value="14"/>
        <parameter name="monthYear" value="October 2026"/>

        <groups>
            <run>
                <include name="smoke"/>
                <include name="regression"/>
            </run>
        </groups>

        <classes>
            <class name="tests.ElectronicsTest"/> 
            <class name="tests.FashionTest"/>
            <class name="tests.FlightTest"/> 
        </classes>

    </test>

</suite>